@model IEnumerable<BlogSystemDotNetClient.ServiceReference1.MyBlog>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css'>
    <link href='https://fonts.googleapis.com/icon?family=Material Icons' rel='stylesheet'>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js'></script>
    <title>All Blogs</title>
</head>
<body>

    <nav>
         
           <div class='nav-wrapper'>
             
               <a href='#' class='brand-logo center'>BlogHub</a> 
                
               <ul id='nav-mobile' class='left hide-on-med-and-down'>
                 
                  
                <li>
                     
                       <a class='navbar-brand' href='/Home/Index'>
                         
                             <i class='material-icons' style='font-size:50px;'>home</i>  
                           
                        </a> 
                      
                </li> 
                  
            </ul>
               <ul id='nav-mobile' class='right hide-on-med-and-down'>


                   <li>

                       <a class='navbar-brand' href='/Login/Logout' style="font-size:30px;">

                          Logout

                       </a>

                   </li>

               </ul>
              
        </div> 
          
    </nav> 
       <table class='table table-dark centered responsive-table'>
         
           
        <thead style='width:20px;'>
             
               
            <tr class='blue'>
                 

                   
                <th scope='col'>Blog No  </th> 
                  
                <th scope='col'></th> 
                   
                <th scope='col'>Title</th> 
                   
                <th scope='col'>Blog By</th> 
                   
                <th scope='col'>Date of created</th> 
                   
                <th scope='col' class='right-align'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </th> 
                   
                <th scope='col'>Content Summary</th> 
                   
                <th scope='col'>View Full Blog</th> 
                   
            </tr> 
               
        </thead> 
           
        <tbody>
            @foreach (var s in Model)
            {


        <tr class='blue-grey lighten-3'>


            <td>   @Html.DisplayFor(modelItem => s.blogNO)  </td>

            <td> </td>

            <td>   @Html.DisplayFor(modelItem => s.title)  </td>

            <td>   @Html.DisplayFor(modelItem => s.blogby)  </td>

            <td>
                @Html.DisplayFor(modelItem => s.doc.Day)
                -
                @Html.DisplayFor(modelItem => s.doc.Month)
                -
                @Html.DisplayFor(modelItem => s.doc.Year)

            </td>

            <td></td>

            <td>


                <div class='card brown lighten-4' style='width:400px;'>

                    <div class='card-content left-align truncate'>

                        @Html.DisplayFor(modelItem => s.content)

                    </div>

                </div>

            </td>

            <td>

                @using (Html.BeginForm("View", "Blog", FormMethod.Post))
                {

                    @Html.Hidden("para",s.blogNO)
                    
                    <button class='btn waves-effect waves-light' type='submit'>
                        View
                        <i class='material-icons right'></i>

                    </button>

                }

                </td>

        </tr>
                }
        
        </tbody> 
           
    </table> 
    
</body>
</html>


